@page "/Candidate/AcceptedCandidates"
@using HelloJobPH.Employer.Pages.Shared.Dialogs
@inject IClientCandidateService CandidateService
@inject IDialogService DialogService

<MudPaper Class="pa-4">
    <MudTable Dense="true" Hover="true" Bordered="true" Breakpoint="Breakpoint.Sm" Items="@candidates">
        <HeaderContent>
            <MudTh><MudText Typo="Typo.subtitle2">Name</MudText></MudTh>
            <MudTh><MudText Typo="Typo.subtitle2">Position</MudText></MudTh>
            <MudTh><MudText Typo="Typo.subtitle2">Status</MudText></MudTh>
            <MudTh><MudText Typo="Typo.subtitle2">Resume</MudText></MudTh>
            <MudTh><MudText Typo="Typo.subtitle2">Date</MudText></MudTh>
            <MudTh><MudText Typo="Typo.subtitle2">Type</MudText></MudTh>
            <MudTh><MudText Typo="Typo.subtitle2">Action</MudText></MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd>@context.Firstname @context.Lastname</MudTd>
            <MudTd>@context.JobTitle</MudTd>
            <MudTd>@context.Status</MudTd>
            <MudTd><a href="@context.ResumeUrl" target="_blank">View Resume</a></MudTd>
            <MudTd>@context.DateApplied.ToString("dd MMM yyyy")</MudTd>
            <MudTd>@context.Type</MudTd>
            <MudTd>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                    <MudMenuItem OnClick="@(() => OpenSendEmailDialog(context))">Send Email</MudMenuItem>
                    <MudMenuItem>Delete</MudMenuItem>
                </MudMenu>
            </MudTd>
        </RowTemplate>

        <NoRecordsContent>
            <MudText Typo="Typo.body1" Align="Align.Center">No candidates found.</MudText>
        </NoRecordsContent>
    </MudTable>
</MudPaper>

@code {
    private List<ApplicationListDtos> candidates = new();

    protected override async Task OnInitializedAsync()
    {
        candidates = await CandidateService.RetrieveAllAcceptedCandidate();
    }

    private async Task OpenSendEmailDialog(ApplicationListDtos candidate)
    {
        var parameters = new DialogParameters
        {
            { "Candidate", candidate }
        };

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };

        await DialogService.ShowAsync<SendEmailDialog>("Send Interview Invitation", parameters, options);
    }
}
